<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t "mailer.greeting" %> <%= @user.username %></h1>
    <p>
      <%= t "mailer.content_deadline" %>
      <%= link_to t("mailer.click_here"), user_session_url %>
    </p>
  </body>
</html>
